<!DOCTYPE html>
<html>
<head>
  <meta charset="UTF-8">
  <title>Create Sandwich</title>
</head>
<body>
<h1>Create Sandwich</h1>
<form action="/save" method="post">
  <label>Condiments:</label><br>
  <input type="checkbox" name="condiment" value="mayonnaise"> Mayonnaise<br>
  <input type="checkbox" name="condiment" value="mustard"> Mustard<br>
  <input type="checkbox" name="condiment" value="ketchup"> Ketchup<br>
  <br>
  <input type="submit" value="Save">
</form>
</body>
</html>